<div class="main-container">
  <div class="left-side">
    <span *ngIf="errorLogin" class="errorMessage">{{ message }}</span>
    <form
      class="login-form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      novalidate
    >
      <mat-form-field>
        <input matInput formControlName="email" />
        <mat-label>
          <fa name="user"></fa>
          {{ "LOGIN_REGISTER.Email" | translate }}
        </mat-label>
        <mat-error
          *ngIf="
            loginForm.controls['email'].hasError('required') &&
            loginForm.get('email').touched
          "
        >
          <fa name="exclamation-circle"></fa>
          {{ "LOGIN_REGISTER.RequiredEmail" | translate }}
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
          <fa name="exclamation-circle"></fa>
          {{ "LOGIN_REGISTER.InvalidEmail" | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="password" type="password" />
        <mat-label>
          <fa name="lock"></fa>
          {{ "LOGIN_REGISTER.Password" | translate }}
        </mat-label>
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
          <fa name="exclamation-circle"></fa>
          {{ "LOGIN_REGISTER.RequiredPassword" | translate }}
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        [disabled]="!loginForm.valid"
        class="dj-primary-button"
      >
        {{ "LOGIN_REGISTER.Connexion" | translate }}
      </button>
    </form>
    <button
      mat-raised-button
      class="dj-secondary-button"
      [routerLink]="['register']"
    >
      {{ "LOGIN_REGISTER.Inscription" | translate }}
    </button>
    <span class="password-forgotten">
      <a href="" title="password-forgotten" alt="password-forgotten">
        {{ "LOGIN_REGISTER.Password_Forgotten" | translate }}
      </a>
    </span>
  </div>
  <div class="right-side"></div>
</div>
